.galleryView{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    a{
        width:100px;
        img{
            width:100px;
            height:75px;
            object-fit:cover;
            border-radius:6px;
            box-shadow:0 1px 4px #aaa;
        }
    }
}